<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AMIT RANA</title>
  </head>
  <body>
    <h1> THIS IS MY STORY </h1>
    <p>Amit Rana works at <u><a href="https://www.funkfeets.com/">Funkfeets</a></u>, previously an intern at <u><a href="https://www.w3villa.com/w3villa">w3villa</a></u>. He is a university of AKTU graduate in 2020. He is currently serving as the president of the AI club at his college, </p>
    <p> Amit Rana started his educational journey as a student at DLF public school sahibabad, inspiring to become a machine learning enthusiasts after seeing a game of mario being won by a machine. He was fascinated by the code that entailed the video and actively picked it apart in order to understand the working that went behind the scenes.</p>
    <p> He also has other hobbies such as 3D modelling, picking his sister's (Deepti Rana)(Works at xyz company) brain at topics that interest him</p>
  </body>
</html>